<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cinemates">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CineMates.activity.ListeUtenteActivity"></activity>
        <activity android:name=".ui.CineMates.activity.SchedaFilmActivity" />
        <activity
            android:name=".ui.CineMates.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CineMates.activity.PasswordDimenticataActivity" />
        <activity android:name=".ui.CineMates.activity.RegistratiActivity" />
        <activity
            android:name=".ui.CineMates.activity.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.CineMates.activity.CredenzialiProfiloActivity" />
        <activity android:name=".ui.CineMates.activity.VisualizzaPreferitiActivity" />
        <activity
            android:name=".ui.CineMates.activity.LoginActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>